<link rel="stylesheet" href="/css/comments.css">
     
<li class="comment-list-element" id="comment-<%= comment._id %>">  

    <div class="the-comment">
        
        <div class="commentor-dp">
            <% if (comment.user.avatar){ %> 
                <img src="<%= comment.user.avatar %>" alt="<%= comment.user.name %>">
            <%} else { %>
                <!-- if the avatar isn't set by the user-- this images is shown by default -->
                <img src="/images/unknown.jpg" alt="<%= comment.user.name %>">
            <%}%>
        </div>

        <div class="comment-content">
            <div class="commentor-name">
                <%= comment.user.name %>
            </div>

            <div class="comment-content">
                <%= comment.content %>
            </div>
        </div>
        

    </div>
    

    <!-- delete button only visible to the creater of the comment and the creater of post -->
    <div class="delete-button-container">
        <% if ((locals.user) && ((locals.user.id == comment.user.id) || ( locals.user.id == post.user.id))) { %>
            
            <a href="/comments/destroy/<%= comment._id %>" class="delete-comment-button">
                <span class="material-icons-outlined ">
                    delete
                </span>
            </a>
            
        <%}%>  
    </div>
   
</li>
   
    