<link rel="stylesheet" href="/css/posts.css">

<li class="post-container post-item" id="post-<%= post._id %>">

    <div class="the-post">
        <div class="post-creator">
            <div class="creator-details">
                <div class="creator-dp">
                    <span class="material-icons-outlined">
                        face
                        </span>
                </div>

                <div class="name-and-when">
                    <%= post.user.name %>

                    <div class="post-when">
                        <!-- <%= post.updatedAt %> -->
                        on 30 May 2021
                    </div> 

                </div>
                
            </div>

            <div class="delete-button-container">
                <!-- delete button only visisible to the creater of the post -->
                <% if ((locals.user) && (locals.user.id == post.user.id)) { %>
                    <a href="/posts/destroy/<%= post._id %>" class="delete-post-button">
                        <span class="material-icons-outlined ">
                            delete
                            </span>

                    </a>  
                <%}%>
            </div>
        </div>

        
        <div class="post-content">
            <p>
                <%= post.content %>
            </p>
        </div>

    </div>

    <!-- this part contains post comment button for now, like will be added later  -->
    <div class="post-reacts">
        <div class="react-comment">
            <span class="material-icons-outlined">
                chat_bubble_outline
            </span>
            &nbsp;Comment
        </div>
    </div>

    <!-- comment section -->
    <div class="post-comments hidden-comments">
        <!-- make comment only if logged in -->
        <% if (locals.user) { %>
            <div class="comment-maker">

                <div class="creator-dp">
                    <span class="material-icons-outlined">
                        face
                    </span>
                </div>

                <form action="/comments/create" method="POST" autocomplete="off" class="create-comment-form">
                    <input type="text" name="content" placeholder="Type Here to Add Comment" class="comment-input-box" required>
                    <input type="hidden" name="post" value="<%= post._id%>">    
                </form> 
            </div>
             
        <%}%> 

        <!-- display comments -->
        <div class="post-comments-list">
            <ul id="post-comments-<%= post._id %>" class="comments-ul">
                <% for (comment of post.comments){%>
                    
                    <%- include('./_comments') %>
                
                <%}%> 
            </ul>
        </div>

    </div>
    
</li>
