<!-- styling for home page -->
<link rel="stylesheet" href="/css/home.css">

<!-- this section is row flex , might contain 3 sub-sections later[ links on left , posts in center , friendlist on right] -->
<section class="content-container">

    <% if (locals.user) { %>
        
    <%}%>

    <!-- view for logged in users -->
    <!-- personalised according to user -->
    <section id="feed-posts">
        
        <!-- create post div -->
        <!-- visible only if logged in -->
        <% if (locals.user) { %>
        
            <div id="create-post" class="post-container">
                <!-- form for input and submit post -->
                <form action="/posts/create" id="new-post-form" method="POST">
                    <textarea name="content" id=""  rows="2" placeholder="What's on your mind, <%= user.name %>?" required></textarea>
                    <input type="submit" value="POST">
                </form>
            </div>
        <%}%>  

        <!-- watch posts -->
        <div id="posts-list-container">
            <ul>
                <% for( post of posts){ %>

                    <li class="post-container">
                        
                        <!-- the post -->
                        <%= post.user.name %>
                        <br>
                        <%= post.content %>
                        <br>
                        <%= post.updatedAt %>

                        <!-- comment section -->
                        <div class="post-comments">
                            <!-- make comment only if logged in -->
                            <% if (locals.user) { %>
                                <form action="/comments/create" method="POST">
                                    <input type="text" name="content" placeholder="Type Here to Add Comment" required>
                                    <input type="hidden" name="post" value="<%= post._id%>">
                                    <input type="submit" value="Add Comment">
                                
                                </form>  
                            <%}%> 

                            <!-- display comments -->
                            <div class="post-comments-list">
                                <ul id="post-comments-<%= post._id %>">
                                    <% for (comment of post.comments){%>
                                        <li>    
                                            <%= comment.content %>
                                            
                                            <%= comment.user.name %>
                                        </li>
                                    <%}%>    
                                </ul>

                            </div>

                        </div>
                        

                    </li>
                <%}%>
            </ul>
        </div>

    </section>

</section>