<html>
    <head>
        <title>
            <%= title %>
        </title>
        
        <!-- STYLES -->
        <link rel="stylesheet" href="/css/layout.css">
        <!-- styles for header and footer -->
        <link rel="stylesheet" href="/css/header.css">
        <link rel="stylesheet" href="/css/footer.css">

        <!-- extract styling from subpage -->
        <%- style %>
    </head>
    <body>
        <%- include('_header'); %>

        <main id="layout-main">
            <!-- the variable part -->
            <%- body %>
        </main>

        <%- include('_footer'); %>

        <!-- extract scripts from subpage -->
        <%- script %>
    </body>
</html>